.main{
    background-color: aqua;
    width: 50%;
    margin: auto;
}
.months{
    display: flex;
    float: left;
    text-transform: uppercase;
    border: 1px solid black;
    width: 100%;
    
}
.month{
    padding: 0px 21px;
    border: 1px solid black;
    width: 100%;
}
.days{
    display: flex;
    float: left;
    flex-direction: row;
    flex-wrap: wrap;
    border: 1px solid black;

}
.day{
    margin: 30px;
    font-size: 26px;
    text-align: center;
    background-color: grey;
    border: 1px solid black;
}
