.main {
    background-color: rgba(234, 236, 226, 0.562);
    width: 549px;
    margin: auto;
    font-family: Open Sans, Roboto, PT sans-serif;
    text-transform: uppercase;
    font-weight: bold;
}

.calendar {
    padding: 10px 15px;
}

.months {
    display: flex;
    width: 100%;
    font-size: 10px;
    color: rgb(136, 133, 133);
}

.month:nth-child(4) {
    font-size: 14px;
    color: rgb(61, 60, 60);
}

.month {
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
    padding-bottom: 25px;
}

.week_days {
    display: flex;
    color: rgb(126, 126, 126);
    font-size: 14px;
}

.week_days_name {
    display: flex;
    width: 100%;
    justify-content: center;
}

.days {
    display: flex;

    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;

}

.day {
    color: rgb(126, 126, 126);
    font-size: 14px;
    text-align: center;
    width: 70px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.day:nth-child(8),
.day:nth-child(10),
.day:nth-child(27) {
    color: rgb(240, 114, 114);
}

.day:nth-child(31),
.day:nth-child(32),
.day:nth-child(33),
.day:nth-child(34),
.day:nth-child(35) {
    color: rgb(211, 207, 207);
}

.day>p {
    padding: 10px;
    border: 1px;
    border-radius: 25%;
    background-color: rgb(236, 163, 163);
    color: white;
}