.main{
    display: flex;
    align-items: flex-start;
width: 60%;
margin: auto;
border: 1px solid lightgray;
border-radius: 15px;
}
.input_form{
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    align-items: flex-start;
    border-right: 1px solid lightgrey;
    width: 50%;
}
.input_form_label{

}
.input_form_title{

}
.cheklist_form{
    display: flex;
    width: 50%;


}
.checklist_form_label{

}
.checklist_form_input{

}
