.main {
    width: auto;
    height: auto;
    font-family: sans-serif;
    font-size: 20px;
}

.base {
    width: 30%;
    border: 2px solid rgb(185, 184, 184);
    border-radius: 15px;
    display: inline-block;
    margin: 10% 30%;
}

.list
 {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li {
    border-bottom: 2px solid rgb(185, 184, 184);
    align-items: center;
    width: 100%;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 10px;
}
li:last-child{
    border: none;
    margin-bottom: 0;
}
.number{
    width: 40px;
    height: 40px;
    background-color: rgb(54, 54, 121);
    color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}